{% extends 'CV_app/main_layout.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="main_page">
    <div class="some_info_about_me">
        <h1>Some information about me:</h1>
        <span>Hi! My name is Max Kazliakouski and I'm a Software Test Engineer.</span><br>
        <span>I'm working in IT-sphere not so long, but for this time,</span><br>
        <span>I have already managed to loved this sphere and this oportunites,</span><br>
        <span> which it gives! I still have a great desire to increase my</span><br>
        <span>professional skills and grow as a specialist. In support of my words,</span><br>
        <span>I created my own website card on Django framework - where you are now</span><br>
        <span>actually located! So, here you can found some information about</span><br>
        <span>me like a specialist and, of course, like a person :)</span>
    </div>
</div>
{% endblock %}
