{% extends 'CV_app/main_layout.html' %}
{% load static %}
{% block title %}Languages{% endblock %}

{% block content %}
<div class="background_lang">
    <div class="icons_lang">
        <figure>
            <img src="{% static 'CV_app/img/flags/britain_1.png' %}" width="170px" style="outline: none;" alt="" tabindex="0">
            <figcaption>English<br>Intermediate - B1</figcaption>
        </figure>
        <figure>
            <img src="{% static 'CV_app/img/flags/rus_1.png' %}" width="170px" style="outline: none;" alt="" tabindex="0">
            <figcaption>Russian<br>Native</figcaption>
        </figure>
        <figure>
            <img src="{% static 'CV_app/img/flags/bel_1.png' %}" width="170px" style="outline: none;" alt="" tabindex="0">
            <figcaption>Belarussian<br>Native</figcaption>
        </figure>   
    </div>
</div>
{% endblock %}
