{% extends 'CV_app/main_layout.html' %}

{% block title %}Personal info{% endblock %}

{% block content %}
<div class="background">
<div class="header_page">
    <span>Personal information</span>
</div>
<div class="block_about_me">
    <ul>
        <li><i class="far fa-calendar-check"></i> Date of birth: <span>05.09.1991</span></li>
        <li><i class="fas fa-universal-access"></i> Nationality: <span>Belarus</span></li>
        <li><i class="fas fa-globe-americas"></i> Current location: <span>Minsk</span></li>
        <li><i class="fas fa-phone-volume"></i> Phone number: <span>+375 29 824 83 59</span></li>
        <li><i class="fas fa-at"></i> Email adress: <span>maxim.kazliakouski@gmail.com</span></li>
        <div class="per_skype">
        <li style="color: red;"><i class="fab fa-skype" style="color: red;"></i> Skype: <span style="color: red;">max1991minsk</span></li>
        </div>
        <li><i class="fab fa-linkedin"></i> linkedin: <span>maxim-kazliakouski</span></li>
    </ul>
</div>
</div>
{% endblock %}
