{% extends 'CV_app/main_layout.html' %}
{% load static %}
{% block title %}Skills{% endblock %}

{% block content %}
<div class="background_skills">
    <h1>Skills&Tools</h1>
    <div class="skills_tools">
        <div class="first_string">
            <figure>
                <figcaption>Writing test cases</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure> 
            <figure>
                <figcaption>Writing bug reports</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure> 
            <figure>
                <figcaption>SQL</figcaption>
                <img src="{% static 'CV_app/img/circles/3_5.png' %}" width="100px" alt="" tabindex="0">
            </figure> 
            <figure>
                <figcaption>JIRA</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
        </div>
        <div class="second_string">
            <figure>
                <figcaption>TestRail</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>HTML&CSS/XML</figcaption>
                <img src="{% static 'CV_app/img/circles/3_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Postman</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Fiddler</figcaption>
                <img src="{% static 'CV_app/img/circles/3_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
        </div>
        <div class="third_string">
            <figure>
                <figcaption>JMeter</figcaption>
                <img src="{% static 'CV_app/img/circles/2_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Linux</figcaption>
                <img src="{% static 'CV_app/img/circles/3_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Python(basic knowlegdge)</figcaption>
                <img src="{% static 'CV_app/img/circles/2_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Genymotion</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>   
        </div>
        <div class="fouth_string">
            <figure>
                <figcaption>LambdaTest</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>   <figure>
                <figcaption>Figma(UI Testing)</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>   <figure>
                <figcaption>Chrome DevTools</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure> 
        </div>
    </div>
    <h2>Interpersonal skills</h2>
    <div class="interpersonal_skills">
        <div class="first_string_personal">
            <figure>
                <figcaption>Attention to detail</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Analytical skills</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
        </div>
        <div class="second_string_personal">
            <figure>
                <figcaption>Communication skills</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Multitasking</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
        </div>
        <div class="third_string_personal">
            <figure>
                <figcaption>Good team player</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
            <figure>
                <figcaption>Problem-solving</figcaption>
                <img src="{% static 'CV_app/img/circles/5_5.png' %}" width="100px" alt="" tabindex="0">
            </figure>
        </div>
        <div class="fouth_string_personal">
            <figure>
                <figcaption>Time management</figcaption>
                <img src="{% static 'CV_app/img/circles/4_5.png' %}" width="100px" alt="" tabindex="0">
            </figure> 
        </div>
    </div>
</div>
{% endblock %}
