{% extends 'CV_app/main_layout.html' %}

{% block title %}Work experience{% endblock %}

{% block content %}
<div class="background_exp">
<div class="expirience">
    <div class="exp_active_platform">
        <h4>Software Test Engineer</h4>
        <h4>ActivePlatform</h4>
        <h4><i class="far fa-calendar-alt"></i>03/2020 - present, Minsk Belarus</h4>
        <span>Following task were perfomed:</span><br>
        <ul>
        <li><i class="fas fa-long-arrow-alt-right"></i> testing desktop and mobile versions<br> of the app;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> writing test cases;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> perfoming functional testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> perfoming non-functional testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> perfoming regression testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> perfoming cross-browser testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> perfoming UI testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> using Chrome DevTools for testing;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> writing bug reports;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> working with specifications;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> showing presentations of completed tasks<br> for customer.</li>
        </ul>
    </div>
    <div class="exp_it_academy">
        <h4>Software Test Engineer</h4>
        <h4>IT-Academy</h4>
        <h4><i class="far fa-calendar-alt"></i>11/2019 - 01/2020, Minsk Belarus</h4>
        <span>Following task were perfomed:</span><br>
        <ul>
        <li><i class="fas fa-long-arrow-alt-right"></i> functional testing desktop and mobile<br>web based app;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> creating check-lists and test cases;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> reporting and verification issues;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> tool part in testing Healthy Lifestyle App;</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> team management (tasks planning, reporting);</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> result gathering and analysis, bug reporting<br>(Functional, UI testing);</li>
        <li><i class="fas fa-long-arrow-alt-right"></i> requirements testing.</li>
        </ul>
    </div>
    <details>
        <summary>JV "Svytovit" LLC</summary>
    <div class="exp_svyatovit">
        <h4>Mechanical engineer (quality assurance)</h4>
        <h4>JV "Svytovit" LLC</h4>
        <h4><i class="far fa-calendar-alt"></i>08/2014 - 03/2020, Minsk Belarus</h4>
        <span>Following task were perfomed:</h4><br>
        <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i> assuring quality of products, which made<br> organizations for JV "Svytovit" LLC;</li>
            <li><i class="fas fa-long-arrow-alt-right"></i> leading business documentation;</li>
            <li><i class="fas fa-long-arrow-alt-right"></i> creating reclamations after perfoming work;</li>
            <li><i class="fas fa-long-arrow-alt-right"></i> making conclusion about quality of the products after<br>checking on equaling technical conditions;</li>
    </div>
    </details>
    </div>
{% endblock %}
